<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Datos ingresados</h1>
    <h3>Nombre ingresado {{familiar.nombre}}</h3>
    <h3>Apellido ingresado {{familiar.apellido}}</h3>
    <h3>Parentezco ingresado {{familiar.parentezco}}</h3>
    <h3>Fecha de nacimiento ingresada {{familiar.fecha_nacimiento}}</h3>
    <h3>DNI {{familiar.dni}}</h3>
</body>
</html>