<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Este es el familiar {{familiar.nombre}}</h1>
    <h3>Este es el apellido {{familiar.apellido}}</h3>
    <h3>Este es el parentezco {{familiar.parentezco}}</h3>
    <h3>Este es la fecha de nacimiento {{familiar.fecha_nacimiento}}</h3>
    <h3>Este es el DNI {{familiar.dni}}</h3>
</body>
</html>